name: Sync Extensions

on:
  workflow_call:
    inputs:
      commit-message:
        type: string
        required: true
        description: "Commit message to sync extensions"
      production:
        type: boolean
        required: true
        default: false

jobs:
  sync_extensions:
    runs-on: ubuntu-latest
    env:
      SYNC_COMMIT: ${{ inputs.commit-message }}
      SYNC_REPO_PREFIX: ${{ inputs.production && 'standa-dev/' || 'standa-dev/internal-' }}
    steps:
      - name: Checkout SDK
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      
      - name: Sync NimbusAdMobKit
        uses: ./.github/actions/sync-extension
        with:
          key: admob
          path: Extensions/Sources/NimbusAdMobKit
          token: ${{ secrets.NIMBUS_PAT }}

